html,
body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
}

body * {
    box-sizing: border-box;
}

.bouncyswitch {
    height: 80px;
    width: 160px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
    flex-flow: row nowrap;
    background-color: #d2d2d2;

    &:hover {
        background-color: #58dd85;
        .spacer {
            flex-grow: 1;
        }
        .bouncyswitch_toggle {
            transform: scale(0.8);
        }
    }

    .spacer {
        flex-grow: 0;
        transition: all 1s ease-in;
    }
    
    .bouncyswitch_toggle {
        background-color: #fff;
        height: 60px;
        width: 60px;
        border-radius: 50%;
        margin: 0 16px;
        box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.16);
        transition: all 0.5s ease-in;
    }
}

